<% layout('layouts/boilerplate') %>


<section id="cartsection">

        
            <div class="cart2ndpart">

                <div id="cartaddeditems">
                      <div class="column-labels">
                        <label class="product-image">Image</label>
                        <label class="product-details">Product</label>
                        <label class="product-price">Price</label>
                        <label class="product-quantity">Quantity</label>
                        
                        <label class="product-line-price">Total</label>
                      </div>
                      <% for( let el of order.items ) { %>
                        <div class="product">
                            <div class="product-image">
                              <img src="<%=el.imageUrl  %>">
                            </div>
                            <div class="product-details">
                              <div class="product-title"> <%= el.name%></div>
                              
                            </div>
                            <div class="product-price"><span>&#x20b9;</span><%= el.price %></div>
                            <div class="product-quantity">
                              
                                <%= el.quantity %>
                            </div>
                            
                            <div class="product-line-price">&#x20b9;<%= el.price*el.quantity %></div>
                          </div>
                      <% } %>
                   
                </div>
        
                <h1 class="totalpriceline">Total price :&#8377;<%= totalcost %>&nbsp;<span id="totalPrice"></span></h1>
                
                 
                
        
            </div>


            <h4>Shipped to:<h5><%= order.shippingaddress %></h5></h4>
    
     
        

   
   
    

</section>