<% layout('layouts/boilerplate') %>

  <section id="cartsection">

    <% if (cart.length===0) { %>
      <div class="container-fluid  p-0 cartemptypic">
        <div class="row justify-content-center" id='emptycart'>
          <div class="col-6  cartimagepic">
            <div>
              <img class="img-fluid" src="/images/emptycart.png" />
            </div>

          </div>
        </div>
      </div>

      <% } else{%>
        <div class="cart2ndpart">

          <div id="cartaddeditems">
            <div class="column-labels">
              <label class="product-image">Image</label>
              <label class="product-details">Product</label>
              <label class="product-price">Price</label>
              <label class="product-quantity">Quantity</label>
              <label class="product-removal">Remove</label>
              <label class="product-line-price">Total</label>
            </div>
            <% for( let el of cart ) { %>
              <div class="product">
                <div class="product-image">
                  <img src="<%=el.imageUrl  %>">
                </div>
                <div class="product-details">
                  <div class="product-title">
                    <%= el.name%>
                  </div>

                </div>
                <div class="product-price"><span>&#x20b9;</span>
                  <%= el.price %>
                </div>
                <div class="product-quantity">

                  <p class="quantityClass">

                  <form action="/cart/products/<%= el._id %>/decreasec?_method=PUT" method="post">
                    <button class="decreasequantity">-</button>
                  </form>
                  &nbsp<%= el.quantity %>&nbsp

                    <form action="/cart/products/<%= el._id %>/increasec?_method=PUT" method="post">
                      <button class="addquantity">+</button>
                    </form>
                    </p>
                </div>
                <div class="product-removal">
                  <form action="/cart/products/<%= el._id %>/deletec?_method=PUT" method="post">
                    <button class="delToCartBtn"><i class="fa-solid fa-trash"></i></button>
                  </form>
                </div>
                <div class="product-line-price">&#x20b9;<%= el.price*el.quantity %>
                </div>
              </div>
              <% } %>

          </div>

          <h1 class="totalpriceline">Total price :&#8377;<%= totalcost %>&nbsp;<span id="totalPrice"></span></h1>

          <form action="/cart/c?_method=DELETE" method="post">
            <button id="clearcartbtn">Clear Cart</button>
          </form>




          <!-- /////////////////////////////////////                   -->


          <div class="register">
            <button id="registration" class="btn d-none">Add New Address</button>
          </div>
          <div id="pop">
            <section class="container mt-5" id="popup">

              <form action="/<%= currentuser._id %>/addaddress" method="post" class="addaddressform ">
                <button type="button" id="close" class="close d-none">X</button>

                <h1 id="detailsheading">Add New Address</h1>

                <div class="row " id="form-container">

                  <div class="col-md-5 col-9  ">


                    <label for="hno">House No</label>
                    <input type="text" id="hno" name="houseno" required />

                    <label for="apt">Appartment</label>
                    <input type="text" id="apt" name="apartment" required />

                    <label for="street">Street</label>
                    <input type="text" id="street" name="street" required />

                    <label for="area">Area</label>
                    <input type="text" id="area" name="area" required />






                    <fieldset>
                      <legend>Address type</legend>
                      <label>
                        <input type="radio" name="typei" value="home" required />
                        Home
                      </label>
                      <label>
                        <input type="radio" name="typei" value="work" required />
                        Work
                      </label>

                    </fieldset>


                  </div>


                  <div class="col-md-5 col-9">


                    </select>



                    <label for="city">City</label>
                    <input type="text" id="city" name="city" required />

                    <label for="pincode">Pincode</label>
                    <input type="number" id="pincode" name="pincode" min="140001" max="750001" required>


                    <label for="district">District</label>
                    <input type="text" id="district" name="district" required />

                    <label for="state">State</label>
                    <input type="text" id="state" name="state" required />


                    <input type="submit" value="submit" />
                    <input type="reset" value="Reset" />

                  </div>

                </div>

              </form>

            </section>
          </div>

          <!-- //////////////////////////////////// -->

          <div class="confirmorder row  ">
             <div class="col-md-8 col-11">
              <form action="/<%= currentuser._id %>/confirmorder" method="post" >
                <label for="shippingaddress">Select shipping Address</label>
                <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="shippingaddress"
                  id="shippingaddress" required>
    
                  <% cuser.addresses.forEach((el,i)=> { %>
                    <option value="<%= i %>" class="form-control">
                      <%= el %>
                    </option>
                    <% }) %>
    
                </select>
                <script
                   src="//checkout.stripe.com/v2/checkout.js"
                   class="stripe-button"
                   data-key="pk_test_51NjzyjSIXS0xZZwrXnc53ZBrnW3OFJoE1vMpoU9pZgHbeQzJSD1k6y4ytH2cKtN4mvMgLiQUbn5ZcW7bPXIBprij00WaY9647b"
                   data-amount="<%= totalcost*100 %>"
                   data-currency="inr"
                   data-name="Panther"
                   data-description="payment provided by stripe"
                   data-locale="auto" >
                 </script>

              </form>
              payment
             
             </div>
            
          </div>


</div>

        
        

       
        <% } %>







  </section>


  <script>
    const sho = document.querySelector('#registration');

    sho.classList.toggle('d-none');
    const registration = document.querySelector('#pop');
    registration.classList.toggle('d-none');

    sho.addEventListener('click', () => {
      console.log('clicked');
      registration.classList.remove('d-none');
    })

    const clos = document.querySelector('#close');
    clos.classList.toggle('d-none');

    clos.addEventListener('click', () => {
      console.log('clicked');
      registration.classList.add('d-none');
    })


  </script>